@import url("https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500;600;700&family=Shrikhand&family=Suez+One&display=swap");

html, body {
  background-color: #ffffff00;
}

html {
  height: 100%;
}

body {
  height: 90%;
  background-image: linear-gradient(white, #e2e2e2);
  background-attachment: fixed;
}

a:hover {
  text-decoration: none;
  font-style: italic;
}

.logo, .logo a {
  font-family: "Shrikhand", cursive;
  color: black;
}

.title {
	font-family: "Suez One", serif;
}

body {
  font-family: "Rasa", serif;
}
